files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-568
            rewrite ^/program-overview/?$ https://$host/addiction-recovery-tampa/ permanent;
            rewrite ^/program-overview/levels-of-care/?$ https://$host/addiction-recovery-tampa/levels-of-care/ permanent;
            rewrite ^/program-overview/therapy-types/?$ https://$host/addiction-recovery-tampa/therapy-types/ permanent;
            rewrite ^/program-overview/aftercare/?$ https://$host/addiction-recovery-tampa/aftercare/ permanent;
            rewrite ^/facility/?$ https://$host/addiction-recovery-tampa/facility/ permanent;
            rewrite ^/facility/features-amenities/?$ https://$host/addiction-recovery-tampa/features-amenities/ permanent;
            rewrite ^/admissions/?$ https://$host/addiction-recovery-tampa/admissions/ permanent;
            rewrite ^/admissions/what-to-expect/?$ https://$host/addiction-recovery-tampa/what-to-expect/ permanent;
            rewrite ^/payment-options/?$ https://$host/addiction-recovery-tampa/payment-options/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
            #FACILITY-917
            rewrite ^/addiction-recovery-tampa/what-to-expect/?$ https://$host/addiction-recovery-tampa/admissions/ permanent;
            #FACILITY-310
            rewrite ^/levels-of-care/?$ https://$host/addiction-recovery-tampa/levels-of-care/ permanent;
            rewrite ^/therapy-types/?$ https://$host/program-overview/therapy-types/ permanent;
            rewrite ^/aftercare/?$ https://$host/program-overview/aftercare/ permanent;
            #FACILITY-839
            rewrite ^/blog/finding-lgbt-community-river-oaks/?$ https://$host/addiction-recovery-tampa/lgbt/ permanent;
            #FACILITY-838
            rewrite ^/blog/finding-your-purpose-in-first-responders-treatment/?$ https://$host/addiction-recovery-tampa/first-responders/ permanent;
            #FACILITY-917
            rewrite ^/addiction-treatment-ms/what-to-expect/?$ https://$host/addiction-treatment-ms/admissions/ permanent;
            #FACILITY-930
            rewrite ^/prescription-drug-abuse/lamictal/withdrawal/?$ https://$host/prescription-drug-abuse/ permanent;
            rewrite ^/alcohol-addiction/natural-detox/?$ https://$host/alcohol-addiction/detox-and-withdrawal/ permanent;
            rewrite ^/drug-detox/natural-detox/?$ https://$host/drug-detox/ permanent;
            rewrite ^/alcohol-addiction/juicing-for-detox/?$ https://$host/alcohol-addiction/detox-and-withdrawal/ permanent;
            #FACILITY-1088
            rewrite ^/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-1735
            rewrite ^/newsletters/?$ https://$host/about/ permanent;
            #FACILITY-1963
            rewrite ^/relationships-and-substance-abuse/enabling-addiction/?$ https://$host/relationships-and-substance-abuse/stop-being-an-enabler/ permanent;
            #FACILITY-2705
            rewrite ^/blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/addiction-blog/tag/$ https://$host/blog/tag/ permanent;
            #FACILITY-3426
            rewrite ^/alcohol-addiction/vivitrol/?$ https://$host/alcohol-addiction/combine-with-vivitrol/ permanent;
            rewrite ^/alcohol-addiction/detox-and-acamprosate/?$ https://$host/alcohol-addiction/treatment-medication/ permanent;
            rewrite ^/alcohol-addiction/campral/?$ https://$host/alcohol-addiction/treatment-medication/ permanent;
            rewrite ^/alcohol-addiction/naltrexone/?$ https://$host/alcohol-addiction/treatment-medication/ permanent;
            rewrite ^/alcohol-addiction/disulfiram/?$ https://$host/alcohol-addiction/treatment-medication/ permanent;
            rewrite ^/alcohol-addiction/blackout/?$ https://$host/alcohol-addiction/poisoning/ permanent;
            rewrite ^/alcohol-addiction/dangers-of-drinking-too-much/?$ https://$host/alcohol-addiction/poisoning/ permanent;
            rewrite ^/alcohol-addiction/signs/?$ https://$host/alcohol-addiction/physical-effects/ permanent;
